<div style="text-align:center;">
    <div class="birk">
        <img src="JO2024.png">
    </div>
</div>

<div style="background-color:#B96CE6; padding:0px 0; color:white; text-align:center;">
    <h1 style="padding-left:50px; font-size:100px; font-weight: bold;">PROJET JO 2024</h1>
</div>

<div style="background-color:#0082C7;padding:0px; color:white;"text-align:center;">
    <h2 style="padding-left: 40px;">IMPORTATION DES LIBRAIRIES </h2>
</div>

In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

<div style="background-color:#0082C7;padding:0px; color:white;">
    <h2 style="padding-left: 40px;">IMPORTATION DES DONNEES</h2>
</div>

In [5]:
df_final = pd.read_csv("df_final.csv")

<div style="background-color:#01A652;padding:0px; color:white;">
    <h4 style="padding-left: 40px;">Information sur les données</h3>
</div>

In [6]:
df_final.head(5)

,medal,country,athlete_name,games,sport,event
0,3,Afghanistan,Rohullah NIKPAI,China,Taekwondo,- 58 kg
1,3,Afghanistan,Rohullah NIKPAI,Great Britain,Taekwondo,58 - 68 kg
2,3,Algeria,Mohamed ZAOUI,United States,Boxing,71 - 75kg (middleweight)
3,3,Algeria,Mustapha MOUSSA,United States,Boxing,75 - 81kg (light-heavyweight)
4,1,Algeria,Hassiba BOULMERKA,Spain,Athletics,1500m

In [7]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20281 entries, 0 to 20280
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   medal         20281 non-null  int64
 1   country       20281 non-null  object
 2   athlete_name  19858 non-null  object
 3   games         20281 non-null  object
 4   sport         20281 non-null  object
 5   event         20281 non-null  object
dtypes: int64(1), object(5)
memory usage: 950.8+ KB

In [8]:
df_final.describe(include ="object")
#Le include object signifie qu'on veut inclure que les Dtypes object

              country   athlete_name          games      sport       event
count           20281          19858          20281      20281       20281
unique            155          16337             25         79         709
top     United States  United States  United States  Athletics  individual
freq             2959             22           2628       3087         602

<div style="background-color:#01A652;padding:0px; color:white;">
    <h4 style="padding-left: 40px;">Valeur Null</h3>
</div>

In [9]:
null_counts = df_final.isnull().sum()
null_counts

medal             0
country           0
athlete_name    423
games             0
sport             0
event             0
dtype: int64

<div style="background-color:#01A652;padding:0px; color:white;">
    <h4 style="padding-left: 40px;">Remplacer les valeurs Null par du vide</h3>
</div>

In [10]:
df_final.fillna("", inplace = True)
df_final.head(5)

,medal,country,athlete_name,games,sport,event
0,3,Afghanistan,Rohullah NIKPAI,China,Taekwondo,- 58 kg
1,3,Afghanistan,Rohullah NIKPAI,Great Britain,Taekwondo,58 - 68 kg
2,3,Algeria,Mohamed ZAOUI,United States,Boxing,71 - 75kg (middleweight)
3,3,Algeria,Mustapha MOUSSA,United States,Boxing,75 - 81kg (light-heavyweight)
4,1,Algeria,Hassiba BOULMERKA,Spain,Athletics,1500m

<div style="background-color:#01A652;padding:0px; color:white;">
    <h4 style="padding-left: 40px;">Valeurs sur athlete_name</h3>
</div>

Pour cela nous allons avoir besoin d'utiliser : **Python RegEx** ou **Expressions Régulières**\

Le terme **RegEx** désigne, en abrégé, les expressions régulières.

Le module **re** de Python permet d'utiliser des expressions régulières et permet de rechercher des modèles spécifiques dans les chaînes de caractères.\
Les expressions régulières sont souvent utilisées pour vérifier que les données renseignées par les utilisateurs d’un programme respectent bien le format prescrit.

In [11]:
#bibliothèque regex
import re

In [12]:
latin_regex = r'[A-Za-zÀ-ÿ]' #Récupération du language/alphabet latin

#Création de 2 df avec et sans language Latin

df_latin = df_final[df_final["athlete_name"].str.contains(latin_regex, regex=True)]
df_nonlatin = df_final[~df_final["athlete_name"].str.contains(latin_regex, regex=True)]

## <a id='toc1_1_'></a>[](#toc0_)

- Le **r** devant la chaîne de caractères de l'expression régulière signifie "**raw string**" en Python.\
En Python, une chaîne de caractères est une séquence de caractères entourée de guillemets.

**Par exemple :**


chaine = "Bonjour"

**Caractères d'Échappement :**\
Les caractères d'échappement sont des séquences de caractères spéciales qui commencent par une barre oblique inverse (\).\
Ils sont utilisés pour représenter des caractères qui autrement seraient difficiles à inclure dans une chaîne.

**Quelques exemples :**
- **\n** représente un saut de ligne (nouvelle ligne).
- **\t** représente une tabulation.
- **\\** représente une barre oblique inverse littérale.

**Exemple d'utilisation :**

In [ ]:
# \n permet le renvoi à la ligne  
chaine = "Bonjour\nComment ça va?"
print(chaine)

Bonjour
Comment ça va?

**Problème des Caractères d'Échappement :**\
Supposons que vous vouliez écrire un chemin de fichier Windows dans une chaîne. Vous devez utiliser des barres obliques inverses (\), mais elles sont aussi des caractères d'échappement. 

Vous devez donc les doubler :

In [30]:
chemin = "C:\\Users\\nom\\fichier.txt"

**Raw String (r)**\
Pour simplifier l'écriture des chaînes qui contiennent beaucoup de barres obliques inverses, Python permet d'utiliser des raw strings.\
Une raw string est précédée par un r (ou R) et traite toutes les barres obliques inverses littéralement, sans les interpréter comme des caractères d'échappement.

**Exemple de raw string :**

In [16]:
chemin = r"C:\Users\nom\fichier.txt"

Avec **r**, vous n'avez plus besoin de doubler les barres obliques inverses. La chaîne est prise "telle quelle".

**Raw Strings et Expressions Régulières**\
Les expressions régulières (regex) utilisent beaucoup de barres obliques inverses.\
Utiliser des raw strings pour les expressions régulières rend le code plus lisible et moins sujet aux erreurs.

- [A-Za-z] correspond à toutes les lettres majuscules et minuscules de l'alphabet latin sans accents (de A à Z et de a à z).
- [À-ÿ] couvre les caractères latins étendus, incluant les lettres accentuées et autres caractères latins spécifiques (comme à, é, ü, etc.).

## <a id='toc1_2_'></a>[](#toc0_)

### <a id='toc1_2_1_'></a>[](#toc0_)

In [17]:
df_latin.sample(10)

,medal,country,athlete_name,games,sport,event
5523,3,Germany,Günther HAASE,Finland,Diving,10m platform
1495,3,Brazil,SILVA Rafael,Brazil,Judo,+ 100kg (heavyweight)
13997,3,Switzerland,Xaver KURMANN,Mexico,Cycling Track,individual pursuit
20100,3,USSR,Alexandra TIMOSHENKO,Korea Republic,Gymnastics Rhythmic,individual all-round
11706,3,Poland,Lucyna LANGER,USSR,Athletics,100m hurdles
5270,3,Georgia,TURMANIDZE Irakli,Brazil,Weightlifting,+ 105kg (super heavyweight)
17712,1,Czechoslovakia,Vera CÁSLAVSKÁ,Mexico,Gymnastics Artistic,vault
6070,1,Germany,Germany,Brazil,Canoe Sprint,K-4 1000m (kayak four)
2952,1,China,YANG Qian,Japan,Shooting,10m air rifle
7825,1,India,Maxie VAZReginald RODRIGUESGerry GLACKENLawrie...,Great Britain,Hockey,hockey

### <a id='toc1_2_2_'></a>[](#toc0_)

In [18]:
df_nonlatin.sample(10)

,medal,country,athlete_name,games,sport,event
5862,1,Germany,Катрин Рутшоу-Стомпоровски,Greece,Rowing,single sculls (1x)
10834,2,New Zealand,Кларк,United States,Equestrian Eventing,individual
440,3,Australia,Катрин Борхерт,Australia,Canoe Sprint,K-1 500m (kayak single)
10279,2,Morocco,Хишам Эль-Герруж,Australia,Athletics,1500m
4911,2,France,Лонго,United States,Cycling Road,individual time trial
7718,1,Hungary,,Australia,Canoe Sprint,C-2 500m (canoe double)
2486,3,China,Ван Ксянбо,United States,Judo,61 - 66kg (middleweight)
10517,1,Netherlands,,United States,Volleyball,volleyball
2543,2,China,,Australia,Table Tennis,doubles
2561,2,China,Ли Цзяцзюнь,United States,Short Track Speed Skating,1500m

Le but ici etait de voir si il y avait des chaines de caractere differents .
Cette approche permet de séparer les données en deux groupes : 
- Ceux avec des noms contenant des caractères latins
- Ceux sans caractères latins.

Cela nous aide pour la suite de notre annalyse car maintenant qu'allons traduire le dataframe df_nonlatin pour le mettre sous format latin

<div style="background-color:#0082C7;padding:0px; color:white;">
    <h2 style="padding-left: 40px;">NETTOYAGE DES DONNEES</h2>
</div>

In [ ]:
 # Check chars non-ASCII
def contains_non_ascii (strings):
    
    resultat = any(ord(char) > 127 for char in strings) #ord c'est le retoune le unicode pour un caratere
    return resultat
    
# Filtrer non-ASCII & ASCII name
df_non_ascii = df_final[df_final['athlete_name'].apply(contains_non_ascii)]
df_ascii = df_final[~df_final['athlete_name'].apply(contains_non_ascii)]



#df_non_ascii = df_final[df_final['athlete_name'].apply(contains_non_ascii)] = df_non_ascii = df_final.iloc[df_final['athlete_name'].apply(contains_non_ascii)]
# une fonction a toujours des parantheses
# Pour faire appelle a une colonne c'est entre crochet 
# le signe ~ signifie tilde c'est l'inverse de quelque chose quelque chose qui est a 1 passera à 0

In [ ]:
df_athlete_name = df_final["athlete_name"]
df_athlete_name = pd.DataFrame(df_athlete_name)
df_athlete_name.head(5)

<div style="background-color:#0082C7;padding:0px; color:white;">
    <h2 style="padding-left: 40px;">ANCIENNE METHODE POUR CIBLER LES ATHLETES</h2>
</div>

<div style="background-color:#FCB030;padding:0px; color:white;">
    <h3 style="padding-left: 40px;">Creer 2 tables : une table "ASCII" et une table "non ASCII"</h3>
</div>

**ASCII :** il s'agit d'un encodage de caractères, l'American Standard Code for Information Interchange, précurseur américain de l'ISO 646 (qui définit des ensembles de caractères à l'international).

<div style="text-align:center;">
    <div class="birk">
        <img src="ascii.png">
    </div>
</div>

In [19]:
# Check chars non-ASCII
def contains_non_ascii (strings):
    
    resultat = any(ord(char) > 127 for char in strings) #ord c'est le retoune le unicode pour un caratere
    return resultat
    
# Filtrer non-ASCII & ASCII name
df_non_ascii = df_final[df_final['athlete_name'].apply(contains_non_ascii)]
df_ascii = df_final[~df_final['athlete_name'].apply(contains_non_ascii)]



#df_non_ascii = df_final[df_final['athlete_name'].apply(contains_non_ascii)] = df_non_ascii = df_final.iloc[df_final['athlete_name'].apply(contains_non_ascii)]
# une fonction a toujours des parentheses
# Pour faire appelle a une colonne c'est entre crochet 
# le signe ~ signifie tilde c'est l'inverse de quelque chose quelque chose qui est a 1 passera à 0

<div style="background-color:#01A652;padding:0px; color:white;">
    <h4 style="padding-left: 40px;">Table ASCII</h3>
</div>

In [20]:
df_ascii.head(5)

,medal,country,athlete_name,games,sport,event
0,3,Afghanistan,Rohullah NIKPAI,China,Taekwondo,- 58 kg
1,3,Afghanistan,Rohullah NIKPAI,Great Britain,Taekwondo,58 - 68 kg
2,3,Algeria,Mohamed ZAOUI,United States,Boxing,71 - 75kg (middleweight)
3,3,Algeria,Mustapha MOUSSA,United States,Boxing,75 - 81kg (light-heavyweight)
4,1,Algeria,Hassiba BOULMERKA,Spain,Athletics,1500m

<div style="background-color:#01A652;padding:0px; color:white;">
    <h4 style="padding-left: 40px;">Table non ASCII</h3>
</div>

In [21]:
df_non_ascii.head(5)

,medal,country,athlete_name,games,sport,event
6,1,Algeria,Морсели,United States,Athletics,1500m
7,1,Algeria,Солтани,United States,Boxing,57 - 60kg (lightweight)
8,3,Algeria,Бахари,United States,Boxing,71 - 75kg (middleweight)
9,1,Algeria,Нурия Мерах-Бенида,Australia,Athletics,1500m
10,2,Algeria,Али Саид-Сиф,Australia,Athletics,5000m

In [22]:
from transliterate import translit

try:
    df_non_ascii.athlete_name = df_non_ascii.athlete_name.apply(lambda s: translit(s, reversed=True))
except Exception as e:
    print(f"Erreur : {e}")

# Ce bloc permet de capturer toute exception qui pourrait se produire lors de l'exécution de la fonction translit.
# Si une erreur se produit, elle est affichée et l'exécution continue sans interruption.

Erreur : Can't detect language for the text "Oscar VARONARuperto HERRERA TABIOFranklin STANDARDTomas HERRERA MARTINEZPedro CHAPPE GARCIARafael CANIZARES POEYJuan DOMECQConrado PEREZ ARMENTEROSMiguel CALDERON GOMEZJuan ROCAAlejandro URGELLÉSJose Miguel ALVAREZ POZO" given.

\
**Ici on a une erreur qu'on a gardé car elle nous permet de comprendre loù il y a une erreur et de cibler cette erreur**

In [23]:
strings = df_non_ascii[df_non_ascii["athlete_name"]=="Oscar VARONARuperto HERRERA TABIOFranklin STANDARDTomas HERRERA MARTINEZPedro CHAPPE GARCIARafael CANIZARES POEYJuan DOMECQConrado PEREZ ARMENTEROSMiguel CALDERON GOMEZJuan ROCAAlejandro URGELLÉSJose Miguel ALVAREZ POZO"]["athlete_name"].item()

#list_decimal = []

for i,char in enumerate(strings):
    if ord(char) > 127 :
        print(strings[i])
    #list_decimal.append(ord(char))

É

<div style="background-color:#01A652;padding:0px; color:white;">
    <h4 style="padding-left: 40px;">Creer un dataframe avec tous les athletes qui rencontre une erreur </h3>
</div>

Transliterate va convertir le langage non latin en latin

In [24]:
from transliterate import translit 
errors = []
# Définir une fonction appelée safe_translit 
# entre parenthèse on met les arguments en entrée

def safe_translit(s):
    try:
        return translit(s, reversed=True)
    except Exception as e:
        errors.append({'athlete_name': s, 'error': str(e)})
        return s  # Return the original string if there's an error

# Apply the safe_translit function to the athlete_name column
df_non_ascii['athlete_name'] = df_non_ascii['athlete_name'].apply(safe_translit)

C:\Users\Moune\AppData\Local\Temp\ipykernel_70916\2425192484.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_non_ascii['athlete_name'] = df_non_ascii['athlete_name'].apply(safe_translit)

**Le code a pour objectif de :**

- Translittérer les noms des athlètes en utilisant une approche sécurisée qui ne casse pas le flux d'exécution en cas d'erreur.
- Capturer et enregistrer les erreurs rencontrées pendant la translittération pour permettre une inspection et une correction ultérieure.re.

In [25]:
df_errors = pd.DataFrame(errors)
df_errors

,athlete_name,error
0,Oscar VARONARuperto HERRERA TABIOFranklin STAN...,"Can't detect language for the text ""Oscar VARO..."
1,Marek Švec,"Can't detect language for the text ""Marek Švec..."
2,Timo JUTILAJanne OJANENJanne LAUKKANENRaimo HE...,"Can't detect language for the text ""Timo JUTIL..."
3,Karel HEIJTINGJohan Eduard SOLEmil Gustav MUND...,"Can't detect language for the text ""Karel HEIJ..."
4,Gheorghiță Ștefan,"Can't detect language for the text ""Gheorghiță..."
5,Stefan LIVDaniel SEDINMikael SAMUELSSONHenrik ...,"Can't detect language for the text ""Stefan LIV..."
6,Jeffrey HYMANSONFranklynn SANDERSTimothy SHEEH...,"Can't detect language for the text ""Jeffrey HY..."
7,ENGLISH Amber Shooting United States of America,"Can't detect language for the text ""ENGLISH Am..."
8,Karl-Joachim HURTERAndreas KELLERMarkku SLAWYK...,"Can't detect language for the text ""Karl-Joach..."
9,Aleksandr VolkovSergei TarakanovIgors Miglinie...,"Can't detect language for the text ""Aleksandr ..."
10,Thomas COE (GBR)William Henry (GBR)Frederick S...,"Can't detect language for the text ""Thomas COE..."
11,Ernest MOREAU De Melen (BEL)Hilaire Frederik S...,"Can't detect language for the text ""Ernest MOR..."