<div style="text-align:center;">
    <div class="birk">
        <img src="JO2024.png">
    </div>
</div>

<div style="background-color:#B96CE6; padding:0px 0; color:white; text-align:center;">
    <h1 style="padding-left:50px; font-size:100px; font-weight: bold;">PROJET JO 2024</h1>
</div>

<div style="background-color:#0082C7;padding:0px; color:white;"text-align:center;">
    <h2 style="padding-left: 40px;">IMPORTATION DES LIBRAIRIES </h2>
</div>

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

<div style="background-color:#0082C7;padding:0px; color:white;">
    <h2 style="padding-left: 40px;">IMPORTATION DES DONNEES</h2>
</div>

In [2]:
df_final = pd.read_csv("df_final.csv")

<div style="background-color:#01A652;padding:0px; color:white;">
    <h4 style="padding-left: 40px;">Information sur les donn√©es</h3>
</div>

In [3]:
df_final.head(5)

,medal,country,athlete_name,games,sport,event
0,3,Afghanistan,Rohullah NIKPAI,China,Taekwondo,- 58 kg
1,3,Afghanistan,Rohullah NIKPAI,Great Britain,Taekwondo,58 - 68 kg
2,3,Algeria,Mohamed ZAOUI,United States,Boxing,71 - 75kg (middleweight)
3,3,Algeria,Mustapha MOUSSA,United States,Boxing,75 - 81kg (light-heavyweight)
4,1,Algeria,Hassiba BOULMERKA,Spain,Athletics,1500m

In [4]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20281 entries, 0 to 20280
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   medal         20281 non-null  int64
 1   country       20281 non-null  object
 2   athlete_name  19858 non-null  object
 3   games         20281 non-null  object
 4   sport         20281 non-null  object
 5   event         20281 non-null  object
dtypes: int64(1), object(5)
memory usage: 950.8+ KB

In [5]:
df_final.describe(include ="object")
#Le include object signifie qu'on veut inclure que les Dtypes object

              country   athlete_name          games      sport       event
count           20281          19858          20281      20281       20281
unique            155          16337             25         79         709
top     United States  United States  United States  Athletics  individual
freq             2959             22           2628       3087         602

<div style="background-color:#01A652;padding:0px; color:white;">
    <h4 style="padding-left: 40px;">Valeur Null</h3>
</div>

In [6]:
null_counts = df_final.isnull().sum()
null_counts

medal             0
country           0
athlete_name    423
games             0
sport             0
event             0
dtype: int64

<div style="background-color:#01A652;padding:0px; color:white;">
    <h4 style="padding-left: 40px;">Remplacer les valeurs Null par du vide</h3>
</div>

In [7]:
df_final.fillna("", inplace = True)
df_final.head(5)

,medal,country,athlete_name,games,sport,event
0,3,Afghanistan,Rohullah NIKPAI,China,Taekwondo,- 58 kg
1,3,Afghanistan,Rohullah NIKPAI,Great Britain,Taekwondo,58 - 68 kg
2,3,Algeria,Mohamed ZAOUI,United States,Boxing,71 - 75kg (middleweight)
3,3,Algeria,Mustapha MOUSSA,United States,Boxing,75 - 81kg (light-heavyweight)
4,1,Algeria,Hassiba BOULMERKA,Spain,Athletics,1500m

<div style="background-color:#01A652;padding:0px; color:white;">
    <h4 style="padding-left: 40px;">Valeurs sur athlete_name</h3>
</div>

Pour cela nous allons avoir besoin d'utiliser : **Python RegEx** ou **Expressions R√©guli√®res**\

Le terme **RegEx** d√©signe, en abr√©g√©, les expressions r√©guli√®res.

Le module **re** de Python permet d'utiliser des expressions r√©guli√®res et permet de rechercher des mod√®les sp√©cifiques dans les cha√Ænes de caract√®res.\
Les expressions r√©guli√®res sont souvent utilis√©es pour v√©rifier que les donn√©es renseign√©es par les utilisateurs d‚Äôun programme respectent bien le format prescrit.

In [8]:
import re

In [9]:
latin_regex = r'[A-Za-z√Ä-√ø]'

df_latin = df_final[df_final["athlete_name"].str.contains(latin_regex, regex=True)]
df_nonlatin = df_final[~df_final["athlete_name"].str.contains(latin_regex, regex=True)]

## <a name="C1">**üìñ Petit cours sur l'application du regexüìñ**</a>

- Le **r** devant la cha√Æne de caract√®res de l'expression r√©guli√®re signifie "**raw string**" en Python.\
En Python, une cha√Æne de caract√®res est une s√©quence de caract√®res entour√©e de guillemets.

**Par exemple :**

In [10]:
chaine = "Bonjour"

**Caract√®res d'√âchappement :**\
Les caract√®res d'√©chappement sont des s√©quences de caract√®res sp√©ciales qui commencent par une barre oblique inverse (\).\
Ils sont utilis√©s pour repr√©senter des caract√®res qui autrement seraient difficiles √† inclure dans une cha√Æne.

**Quelques exemples :**
- **\n** repr√©sente un saut de ligne (nouvelle ligne).
- **\t** repr√©sente une tabulation.
- **\\** repr√©sente une barre oblique inverse litt√©rale.

**Exemple d'utilisation :**

In [11]:
chaine = "Bonjour\nComment √ßa va?"
print(chaine)

Bonjour
Comment √ßa va?

**Probl√®me des Caract√®res d'√âchappement :**\
Supposons que vous vouliez √©crire un chemin de fichier Windows dans une cha√Æne. Vous devez utiliser des barres obliques inverses (\), mais elles sont aussi des caract√®res d'√©chappement. 

Vous devez donc les doubler :

In [12]:
chemin = "C:\\Users\\nom\\fichier.txt"

**Raw String (r)**\
Pour simplifier l'√©criture des cha√Ænes qui contiennent beaucoup de barres obliques inverses, Python permet d'utiliser des raw strings.\
Une raw string est pr√©c√©d√©e par un r (ou R) et traite toutes les barres obliques inverses litt√©ralement, sans les interpr√©ter comme des caract√®res d'√©chappement.

**Exemple de raw string :**

In [13]:
chemin = r"C:\Users\nom\fichier.txt"

Avec **r**, vous n'avez plus besoin de doubler les barres obliques inverses. La cha√Æne est prise "telle quelle".

**Raw Strings et Expressions R√©guli√®res**\
Les expressions r√©guli√®res (regex) utilisent beaucoup de barres obliques inverses.\
Utiliser des raw strings pour les expressions r√©guli√®res rend le code plus lisible et moins sujet aux erreurs.

- [A-Za-z] correspond √† toutes les lettres majuscules et minuscules de l'alphabet latin sans accents (de A √† Z et de a √† z).
- [√Ä-√ø] couvre les caract√®res latins √©tendus, incluant les lettres accentu√©es et autres caract√®res latins sp√©cifiques (comme √†, √©, √º, etc.).

## <a name="C1">**Les 2 dataframes**</a>

### <a name="C1">**‚Ä¢ df latin**</a>

In [31]:
df_latin.sample(10)

,medal,country,athlete_name,games,sport,event
9903,3,Korea Republic,Kang Seok LEE,Italy,Speed skating,2x500m
156,3,Australia,Joseph ARMSTRONG,Great Britain,Wrestling Freestyle,+ 87kg (heavyweight)
15737,1,United States,David JENKINS,United States,Figure skating,individual
14342,2,Turkey,Necmi GENCALP,Korea Republic,Wrestling Freestyle,74 - 82kg (middleweight)
19305,2,USSR,Larisa LATYNINA,Japan,Gymnastics Artistic,vault
12014,1,Romania,Stefan RUSU,USSR,Wrestling Greco-Roman,62 - 68kg (lightweight)
11673,2,Poland,Stanislaw SZOZDARyszard SZURKOWSKITadeusz MYTN...,Canada,Cycling Road,team time trial
15470,3,United States,Mal WHITFIELD,Great Britain,Athletics,400m
13053,2,Spain,–†–∞—Ñ–∞—ç–ª—å –õ–æc–∞–Ω–æ –ú—É–Ω—å–æ—Å,Australia,Boxing,- 48kg (light-flyweight)
18317,2,German Democratic Republic,J√ºrgen WIEFEL,USSR,Shooting,25m rapid fire pistol

### <a name="C1">**‚Ä¢ df non latin**</a>

In [29]:
df_nonlatin.sample(10)

,medal,country,athlete_name,games,sport,event
4979,1,France,–í–∏–¥–∞–ª—å,United States,Alpine Skiing,slalom
8505,3,Italy,–¢–∞—Ä–∞–Ω—Ç–∏–Ω–æ–ö–∞–∑–µ—Ä—Ç–∞–¢–µ—Ä–µ–Ω—Ü–∏,United States,Fencing,sabre team
10579,1,Netherlands,–ü–∏—Ç–µ—Ä –í–∞–Ω –î–µ–Ω –•—É–≥–µ–Ω–±–∞–Ω–¥,Greece,Swimming,100m freestyle
6838,1,Great Britain,–î–µ–Ω–∏–∑ –õ—å—é–∏—Å,Australia,Athletics,heptathlon
12399,3,Russian Federation,–ï–ª–µ–Ω–∞ –ü—Ä–æ–¥—É–Ω–æ–≤–∞,Australia,Gymnastics Artistic,balance beam
2047,2,Canada,–£–æ—Ç–µ—Ä—Å–ø—É–Ω,Japan,Speed skating,500m
2444,1,China,–ñ–µ –§–µ–π–ñ—É –ß–∂—É–Ω—å,United States,Badminton,doubles
16824,3,United States,–°–º–∏—Ç,United States,Short Track Speed Skating,500m
9844,2,Korea Republic,–ß–æ –ò–Ω –ß—É–ª,Australia,Judo,73 - 81kg (half-middleweight)
9866,1,Korea Republic,–ö–∏–º –î–æ–Ω –ú—É–Ω–•–∞ –¢–∞–µ –ö–≤–æ–Ω,Greece,Badminton,doubles

Le but ici etait de voir si il y avait des chaines de caractere differents .
Cette approche permet de s√©parer les donn√©es en deux groupes : 
- Ceux avec des noms contenant des caract√®res latins
- Ceux sans caract√®res latins.

Cela nous aide pour la suite de notre annalyse car maintenant qu'allons traduire le dataframe df_nonlatin pour le mettre sous format latin

<div style="background-color:#0082C7;padding:0px; color:white;">
    <h2 style="padding-left: 40px;">NETTOYAGE DES DONNEES</h2>
</div>

In [16]:
# Check chars non-ASCII
def contains_non_ascii (strings):
    
    resultat = any(ord(char) > 127 for char in strings) #ord c'est le retoune le unicode pour un caratere
    return resultat
    
# Filtrer non-ASCII & ASCII name
df_non_ascii = df_final[df_final['athlete_name'].apply(contains_non_ascii)]
df_ascii = df_final[~df_final['athlete_name'].apply(contains_non_ascii)]



#df_non_ascii = df_final[df_final['athlete_name'].apply(contains_non_ascii)] = df_non_ascii = df_final.iloc[df_final['athlete_name'].apply(contains_non_ascii)]
# une fonction a toujours des parantheses
# Pour faire appelle a une colonne c'est entre crochet 
# le signe ~ signifie tilde c'est l'inverse de quelque chose quelque chose qui est a 1 passera √† 0

In [17]:
df_athlete_name = df_final["athlete_name"]
df_athlete_name = pd.DataFrame(df_athlete_name)
df_athlete_name.head(5)

        athlete_name
0    Rohullah NIKPAI
1    Rohullah NIKPAI
2      Mohamed ZAOUI
3    Mustapha MOUSSA
4  Hassiba BOULMERKA

<div style="background-color:#0082C7;padding:0px; color:white;">
    <h2 style="padding-left: 40px;">ANCIENNE METHODE POUR CIBLER LES ATHLETES</h2>
</div>

<div style="background-color:#FCB030;padding:0px; color:white;">
    <h3 style="padding-left: 40px;">Creer 2 tables : une table "ASCII" et une table "non ASCII"</h3>
</div>

**ASCII :** il s'agit d'un encodage de caract√®res, l'American Standard Code for Information Interchange, pr√©curseur am√©ricain de l'ISO 646 (qui d√©finit des ensembles de caract√®res √† l'international).

<div style="text-align:center;">
    <div class="birk">
        <img src="ascii.png">
    </div>
</div>

In [18]:
# Check chars non-ASCII
def contains_non_ascii (strings):
    
    resultat = any(ord(char) > 127 for char in strings) #ord c'est le retoune le unicode pour un caratere
    return resultat
    
# Filtrer non-ASCII & ASCII name
df_non_ascii = df_final[df_final['athlete_name'].apply(contains_non_ascii)]
df_ascii = df_final[~df_final['athlete_name'].apply(contains_non_ascii)]



#df_non_ascii = df_final[df_final['athlete_name'].apply(contains_non_ascii)] = df_non_ascii = df_final.iloc[df_final['athlete_name'].apply(contains_non_ascii)]
# une fonction a toujours des parantheses
# Pour faire appelle a une colonne c'est entre crochet 
# le signe ~ signifie tilde c'est l'inverse de quelque chose quelque chose qui est a 1 passera √† 0

<div style="background-color:#01A652;padding:0px; color:white;">
    <h4 style="padding-left: 40px;">Table ASCII</h3>
</div>

In [19]:
df_ascii.head(5)

,medal,country,athlete_name,games,sport,event
0,3,Afghanistan,Rohullah NIKPAI,China,Taekwondo,- 58 kg
1,3,Afghanistan,Rohullah NIKPAI,Great Britain,Taekwondo,58 - 68 kg
2,3,Algeria,Mohamed ZAOUI,United States,Boxing,71 - 75kg (middleweight)
3,3,Algeria,Mustapha MOUSSA,United States,Boxing,75 - 81kg (light-heavyweight)
4,1,Algeria,Hassiba BOULMERKA,Spain,Athletics,1500m

<div style="background-color:#01A652;padding:0px; color:white;">
    <h4 style="padding-left: 40px;">Table non ASCII</h3>
</div>

In [20]:
df_non_ascii.head(5)

,medal,country,athlete_name,games,sport,event
6,1,Algeria,–ú–æ—Ä—Å–µ–ª–∏,United States,Athletics,1500m
7,1,Algeria,–°–æ–ª—Ç–∞–Ω–∏,United States,Boxing,57 - 60kg (lightweight)
8,3,Algeria,–ë–∞—Ö–∞—Ä–∏,United States,Boxing,71 - 75kg (middleweight)
9,1,Algeria,–ù—É—Ä–∏—è –ú–µ—Ä–∞—Ö-–ë–µ–Ω–∏–¥–∞,Australia,Athletics,1500m
10,2,Algeria,–ê–ª–∏ –°–∞–∏–¥-–°–∏—Ñ,Australia,Athletics,5000m

In [21]:
from transliterate import translit

try:
    df_non_ascii.athlete_name = df_non_ascii.athlete_name.apply(lambda s: translit(s, reversed=True))
except Exception as e:
    print(f"Erreur : {e}")

# Ce bloc permet de capturer toute exception qui pourrait se produire lors de l'ex√©cution de la fonction translit.
# Si une erreur se produit, elle est affich√©e et l'ex√©cution continue sans interruption.

Erreur : Can't detect language for the text "Oscar VARONARuperto HERRERA TABIOFranklin STANDARDTomas HERRERA MARTINEZPedro CHAPPE GARCIARafael CANIZARES POEYJuan DOMECQConrado PEREZ ARMENTEROSMiguel CALDERON GOMEZJuan ROCAAlejandro URGELL√âSJose Miguel ALVAREZ POZO" given.

\
**Ici on a une erreur qu'on a gard√© car elle nous permet de comprendre lo√π il y a une erreur et de cibler cette erreur**

In [22]:
strings = df_non_ascii[df_non_ascii["athlete_name"]=="Oscar VARONARuperto HERRERA TABIOFranklin STANDARDTomas HERRERA MARTINEZPedro CHAPPE GARCIARafael CANIZARES POEYJuan DOMECQConrado PEREZ ARMENTEROSMiguel CALDERON GOMEZJuan ROCAAlejandro URGELL√âSJose Miguel ALVAREZ POZO"]["athlete_name"].item()

#list_decimal = []

for i,char in enumerate(strings):
    if ord(char) > 127 :
        print(strings[i])
    #list_decimal.append(ord(char))

√â

<div style="background-color:#01A652;padding:0px; color:white;">
    <h4 style="padding-left: 40px;">Creer un dataframe avec tous les athletes qui rencontre une erreur </h3>
</div>

In [23]:
from transliterate import translit
errors = []

def safe_translit(s):
    try:
        return translit(s, reversed=True)
    except Exception as e:
        errors.append({'athlete_name': s, 'error': str(e)})
        return s  # Return the original string if there's an error

# Apply the safe_translit function to the athlete_name column
df_non_ascii['athlete_name'] = df_non_ascii['athlete_name'].apply(safe_translit)

C:\Users\antoi\AppData\Local\Temp\ipykernel_11848\2425192484.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_non_ascii['athlete_name'] = df_non_ascii['athlete_name'].apply(safe_translit)

**Le code a pour objectif de :**

- Translitt√©rer les noms des athl√®tes en utilisant une approche s√©curis√©e qui ne casse pas le flux d'ex√©cution en cas d'erreur.
- Capturer et enregistrer les erreurs rencontr√©es pendant la translitt√©ration pour permettre une inspection et une correction ult√©rieure.re.

In [24]:
df_errors = pd.DataFrame(errors)
df_errors

,athlete_name,error
0,Oscar VARONARuperto HERRERA TABIOFranklin STAN...,"Can't detect language for the text ""Oscar VARO..."
1,Marek ≈†vec,"Can't detect language for the text ""Marek ≈†vec..."
2,Timo JUTILAJanne OJANENJanne LAUKKANENRaimo HE...,"Can't detect language for the text ""Timo JUTIL..."
3,Karel HEIJTINGJohan Eduard SOLEmil Gustav MUND...,"Can't detect language for the text ""Karel HEIJ..."
4,Gheorghi»õƒÉ »òtefan,"Can't detect language for the text ""Gheorghi»õƒÉ..."
5,Stefan LIVDaniel SEDINMikael SAMUELSSONHenrik ...,"Can't detect language for the text ""Stefan LIV..."
6,Jeffrey HYMANSONFranklynn SANDERSTimothy SHEEH...,"Can't detect language for the text ""Jeffrey HY..."
7,ENGLISH Amber¬†Shooting¬†United States of America,"Can't detect language for the text ""ENGLISH Am..."
8,Karl-Joachim HURTERAndreas KELLERMarkku SLAWYK...,"Can't detect language for the text ""Karl-Joach..."
9,Aleksandr VolkovSergei TarakanovIgors Miglinie...,"Can't detect language for the text ""Aleksandr ..."
10,Thomas COE (GBR)William Henry (GBR)Frederick S...,"Can't detect language for the text ""Thomas COE..."
11,Ernest MOREAU De Melen (BEL)Hilaire Frederik S...,"Can't detect language for the text ""Ernest MOR..."